<div class="container">
  <div class="header"></div>

  <form [formGroup]="credentialForm" class="form">
    <div class="title-container">
      <h1 class="title">LOGIN</h1>
    </div>

    <div class="form-group">
      <div class="input-group">
        <input type="email" formControlName="email" placeholder="Correo" class="input-field"/>
        <span class="icon">📧</span>
      </div>
      <div *ngIf="credentialForm.get('email')?.hasError('required') && credentialForm.get('email')?.touched" class="error-message">
        Email requerido
      </div>

      <div class="input-group">
        <input type="password" formControlName="password" placeholder="Contraseña" class="input-field"/>
        <span class="icon">🔒</span>
      </div>
      <div *ngIf="credentialForm.get('password')?.hasError('required') && credentialForm.get('password')?.touched" class="error-message">
        Contraseña requerida
      </div>
    </div>

    <div class="link-container">
      <p>¿Aún no tienes una cuenta? <a href="/register" class="link">Crear una</a></p>
    </div>

    <div class="button-group">
      <button type="button" (click)="login()" [disabled]="!credentialForm.valid" class="button">Ingresar</button>
      <button type="button" (click)="onGoogleLogin()" class="button">Iniciar con Google</button>
    </div>
  </form>
</div>
