<ion-content [fullscreen]="true">
  <div class="header">
  </div>

  <form [formGroup]="credentialForm">
    <div style="text-align: center;">
      <h1 class="title">LOGIN</h1>
    </div>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="email" placeholder="Correo"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div
        *ngIf="credentialForm.get('email')?.hasError('required') && credentialForm.get('email')?.touched"
        style="padding-top: -26px; padding-bottom: 16px"
      >
        <ion-text color="danger">Email requerido</ion-text>
      </div>
      <ion-item>
        <ion-input
          formControlName="password" placeholder="Contraseña"
          type="password"
        ></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div
        *ngIf="credentialForm.get('password')?.hasError('required') && credentialForm.get('password')?.touched"
        style="padding-top: -26px; padding-bottom: 16px"
      >
        <ion-text color="danger">Contraseña requerida</ion-text>
      </div>
      <div id="container">
        <p>
          ¿Aún no tienes una cuenta?
          <ion-label color="primary" [routerLink]="['/register']">
            Crear una
          </ion-label>
        </p>
      </div>
    </div>

    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button (click)="login()" [disabled]="!credentialForm.valid">
          Ingresar
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="onGoogleLogin()">
          Iniciar con Google
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
