<ion-content [fullscreen]="true">
  <div class="header"></div>

  <form [formGroup]="singUpForm">
    <div class="registro-container">
      <h1 class="title-registro">REGISTRO</h1>
    </div>

    <div class="ion-padding form-container">
      <div class="input-group">
        <ion-item>
          <ion-input class="input-field" formControlName="email" placeholder="Correo"></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
        <div
          *ngIf="singUpForm.get('email')?.hasError('required') && singUpForm.get('email')?.touched"
          style="padding-top: -26px; padding-bottom: 16px"
        >
          <ion-text color="danger">Correo requerido</ion-text>
        </div>
        <ion-item>
          <ion-input class="input-field" formControlName="password" placeholder="Contraseña" type="password"></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
        <div
          *ngIf="singUpForm.get('password')?.hasError('required') && singUpForm.get('password')?.touched"
          style="padding-top: -26px; padding-bottom: 16px"
        >
          <ion-text color="danger">Contraseña requerida</ion-text>
        </div>
      </div>
      
      <div id="container" class="center-text" justify="center">
        <p>
          ¿Ya estás registrado?
          <ion-label color="primary" [routerLink]="['/login']">
            Ingresar
          </ion-label>
        </p>
      </div>
    </div>

    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button class="custom-register-button" (click)="singUp()" [disabled]="!singUpForm.valid">
          Registrar
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="onGoogleRegister()">
          Registrar con Google
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
