<ion-header>
  <ion-toolbar>
    <ion-title>Blog Martin Jimenez</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let post of posts$ | async">
      <ion-label>
        <p>{{ post.content }}</p>
        <img *ngIf="post.fileType.startsWith('image')" [src]="post.uploadUrl" style="max-width: 100%; border-radius: 10px;" />
        <a *ngIf="post.fileType === 'application/pdf'" [href]="post.uploadUrl" target="_blank">View PDF</a>
      </ion-label>
      <!-- Botón para eliminar el post -->
      <ion-button color="danger" (click)="deletePost('post', post.id, post.uploadUrl)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="newPostContent" placeholder="Escribe algo..."></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="fileInput.click()">
        <ion-icon name="document-attach-outline"></ion-icon> SUBIR PDF
      </ion-button>
      <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" accept=".pdf,image/*">
      <ion-button (click)="photoInput.click()">
        <ion-icon name="image-outline"></ion-icon> SUBIR FOTO
      </ion-button>
      <input type="file" #photoInput (change)="onPhotoSelected($event)" style="display: none;" accept="image/*">
      <ion-button (click)="getCurrentCoordinates()">
        <ion-icon name="location-outline"></ion-icon> OBTENER LOCACIÓN
      </ion-button>
      <ion-button (click)="addPost()">
        <ion-icon name="send-outline"></ion-icon> Enviar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
